@page "/buses/{id:int}"
@inject IBusesService BusesService
@inject ISeatService SeatService

<h3>BusDetails</h3>

<a href="/buses" class="btn btn-primary">Close</a>
<br />
<div class="row">
@if (Bus != null)
{
    <div class="col">
    <div class="row">
                <div class="col">
        <a href="/buses/edit/@Bus.BusID" class="btn btn-primary">Edit</a>
        </div>
    </div>
    <div class="row">
    <div class="col-4">
        <div class="row mb-4">
            <div class="col-2">
                <label class="form-label">Id</label>
            </div>
            <div class="col-6">
                <label class="form-label">@Bus.BusID</label>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-2">
                <label class="form-label">Number</label>
            </div>
            <div class="col-6">
                <label class="form-label">@Bus.BusNumber</label>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-2">
                <label class="form-label">Type</label>
            </div>
            <div class="col-6">
                <label class="form-label">@Bus.BusType</label>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-2">
                <label class="form-label">Operator</label>
            </div>
            <div class="col-6">
                <label class="form-label">@Bus.OperatorName</label>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-2">
                <label class="form-label">Seats</label>
            </div>
            <div class="col-6">
                <label class="form-label">@Bus.TotalSeats</label>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-2">
                <label class="form-label">Rows</label>
            </div>
            <div class="col-6">
                <label class="form-label">@Bus.Rows</label>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-2">
                <label class="form-label">Cols</label>
            </div>
            <div class="col-6">
                <label class="form-label">@Bus.Cols</label>
            </div>
        </div>

    </div>
    </div>
    </div>
    <BusSeats Bus="@Bus" />
}

</div>

@code {
    [Parameter]
    public int? Id { get; set; }
    public Bus? Bus { get; set; }
    override protected async Task OnInitializedAsync()
    {
        if (Id != null)
        {
            Bus ??= await BusesService.Get(Id.Value);
        }
    }
}
